.enclos {
	.help {
		margin-bottom: 40px;
	}

	.sheet {
		height: 76px;
	    padding: 1px;
	    margin-bottom: 30px;
	    clear: both;
	    background-image: url("../assets/design/shop_dinoz_bg.webp");
	    background-position: 20px 0px;
	    background-repeat: no-repeat;

	    a.button {
	    	margin-top: 20px;
	    }

	    a.button, .price {
	    	position: absolute;
    		margin-left: 225px;
	    }

	    .swf {
	    	position: absolute;
    		margin-top: -70px;
	    }

	    .infos {
	    	margin-top: 10px;
    		padding-left: 200px;

    		.race {
    			margin-bottom: 1px;

    			strong {
    				color: white;
    			}
    		}

    		.race, .skill {
    			width: 210px;
			    height: 18px;
			    padding-left: 10px;
			    font-size: 10pt;
			    color: #ffee92;
			    background-color: #9a4029;
			    border-radius: 10px;
			    cursor: help;
    		}
	    }

	    .price {
	    	position: absolute;
		    margin-left: 225px;
		    padding-left: 5px;
		    width: 90px;
		    height: 18px;
		    font-size: 10pt;
		    background-color: #9a4029;
		    border-radius: 10px;

		    .money {
		    	color: #ffee92;
		    }
	    }
	}
}

.skill {
	width: 210px;
    height: 18px;
    padding-left: 10px;
    font-size: 10pt;
    color: #ffee92;
    background-color: #9a4029;
    border-radius: 10px;
    cursor: help;
}

.price {
	position: absolute;
    margin-left: 225px;
}
